#progress {
    width: 50%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    margin-top: 10px;
    border-radius: 5px;
}

#progress > div {
    margin-top: 0;
    background-color: red;
    border-radius: 5px;
    width: 100%;
}

#c4 main {
    padding: 10px;
}

#c4 button, #c4 input {
    background-color: green;
}